*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-block: 2.5em;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 40em;
}

.banner__image {
  width: 128px;
  height: 128px;
  border-radius: 128px;
  object-fit: contain;
}
